<section class="test">
    <div class="container">
        <div class="test-pre-title small-title" id="pre-title">Тест №1. “JavaScript: Начальный уровень”</div>
        <div class="test-progress-bar" id="progress-bar">

        </div>
        <div class="test-question">
            <div class="test-question-title medium-title" id="title">
                <span>Вопрос 2:</span> Тут должен быть текст вопроса?
            </div>
            <div class="test-question-options" id="options">
                <div class="test-question-option">
                    <input type="radio" id="answer-1" name="answer">
                    <label for="answer-1">Вариант ответа 1</label>
                </div>
            </div>
        </div>
        <div class="test-actions">
            <div class="test-previous-action">
                <button class="button button-transparent" id="prev" disabled>Назад</button>
            </div>
            <div class="test-time">
                <div class="test-time-text">Осталось времени:</div>
                <div class="test-time-clock" id="timer">59</div>
            </div>
            <div class="test-next-action">
                <button class="button button-transparent" id="next" disabled>Дальше</button>
            </div>
        </div>
        <div class="pass-question bottom-right-link">
            <a href="javascript:void(0)" id="pass">Пропустить вопрос <span></span></a>
        </div>
    </div>
</section>
