.answers-pre-title {
    display: flex;
    gap: 15px;
}

.answers-pre-title-test {
    color: #6933DC;
}

.answers-title {
    margin-top: 60px;
}

.answer-question {
    margin-top: 60px;
}

.answers-question-options {
    margin-top: 40px;
    list-style: none;
    padding: 0;

}

.answers-question-option.success {
    color: #5FDC33;
}

.answers-question-option.wrong {
    color: #DC3333;
}

.answers-question-option:before {
    content: "";
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid #6933DC;
    margin-right: 13px;
    margin-top: 2px;
    box-sizing: border-box;
}

.answers-question-option.success:before {
    border: 6px solid #5FDC33;
}

.answers-question-option.wrong:before {
    border: 6px solid #DC3333;
;
}

.return-to-result {
    margin-top: 60px;
}

.answers-person {
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    margin-top: 10px;
}

.answers-person span {
    color: #6933DC;
}