body {
    margin: 0;
    padding: 0;
    font-family: "MuseoSansCyrl", sans-serif;
    color: #333333;
}

a {
    color: #6933DC;
}

@font-face {
    src: url("../fonts/MuseoSansCyrl-500.ttf");
    font-family: "MuseoSansCyrl";
}

@font-face {
    src: url("../fonts/MuseoSansCyrl-700.ttf");
    font-family: "MuseoSansCyrlBold";
}

.header {
    padding: 42px 0 40px;
    border-bottom: 1px solid #DCDCF3;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.button {
    padding: 14px 35px;
    background: #6933DC;
    border-radius: 6px;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: 0.4s;
    text-decoration: none;
}

a.button {
    display: inline-block;
}

.button:hover {
    background: #32098a;
}

.button:disabled {
    cursor: not-allowed;
    background: #e2dfe7;
}

.button-transparent {
    background: transparent;
    color: #6933DC;
    border: 1px solid #6933DC;
}

.button-transparent:hover {
    background: #6933DC;
    color: white;
}

.button-transparent:disabled {
    background: transparent;
    color: #e2dfe7;
    border: 1px solid #e2dfe7;
}

.footer {
    text-align: center;
    padding: 40px 0 ;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #DCDCF3;
}

.common-title {
    font-family: MuseoSansCyrlBold, sans-serif;
    font-size: 48px;
    line-height: 58px;
}

.common-title span {
    color: #6933DC;
}

.big-title {
    font-family: MuseoSansCyrlBold, sans-serif;
    font-size: 54px;
    line-height: 65px;
}

.big-title span {
    color: #6933DC;
}


.small-title {
    font-size: 20px;
    line-height: 24px;
    color: #DCDCF3;
}

.medium-title {
    font-family: MuseoSansCyrlBold, sans-serif;
    font-size: 36px;
    line-height: 43px;

}

.medium-title span {
    color: #6933DC;
}

.question-option {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
    display: flex;
}

.bottom-right-link {
    display: flex;
    justify-content: flex-end;
}

.bottom-right-link a {
    font-size: 17px;
    line-height: 20px;
    color: #6933DC;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.bottom-right-link a:hover {
    text-decoration: underline;
}

.bottom-right-link a img {
    margin-left: 13px;
}

.bottom-right-link a span {
    margin-left: 13px;
    background-image: url("images/small-arrow.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 15px;
    width: 8px;
}